<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{note.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{note.dateEdited | date : 'medium'}}</h6>
    <p class="card-text">{{note.text}}</p>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary btn-sm card-link" (click)="view()">view</button>
      <button type="button" class="btn btn-outline-primary btn-sm card-link" (click)="edit()">edit</button>
      <button type="button" class="btn btn-outline-danger btn-sm card-link" (click)="delete()">delete</button>
    </div>
  </div>
</div>
